.certificate {
  width: 75rem;
  height: 56.3rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  &__background {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 75rem;
    height: 56.3rem;
    &__image {
      height: 100%;
      width: 100%;
    }
  }

  &__text {
    margin-left: 5rem;
    & .heading-2 {
      font-family: 'Certificate';
      font-weight: 300;
      font-size: 6.5rem;
      color: #b89240;
    }
    & .date {
      color: #c69b3c;
    }
  }
}
